.selected-row {
    background: #0B355E;
}

.detail-title {
    font-size: large;
    color: tomato;
}

.json {
    white-space: pre-wrap;
}

.normal-time {
    color: unset;
}

.long-time {
    color: orangered;
}

.long-long-time {
    color: darkred;
}
